<div *ngIf="user" class="max-w-3xl mx-auto mt-8">
  <div
    class="items-center justify-center selected  shadow-lg rounded-lg overflow-hidden flex flex-col sm:flex-row border-[0.5px] p-2 ring-neutral-100"
  >
    <img
      [src]="user.avatar_url"
      alt="Avatar"
      class="w-full sm:w-1/3 h-auto object-cover rounded-full aspect-square"
    />
    <div class="w-full sm:w-2/3 p-4">
      <h2 class="text-2xl font-semibold text-white">{{ user.name }}</h2>
      <p class="text-gray-300">@{{ user.login }}</p>
      <p class="text-gray-300 mt-2">{{ user.bio || "No Bio available" }}</p>
      <div class="flex justify-between mt-4">
        <div class="flex gap-1 text-gray-300">
          <p>Followers :</p>
          <p class="font-semibold">{{ user.followers }}</p>
        </div>
        <div class="flex gap-1 text-gray-300">
          <p>Following :</p>
          <p class="font-semibold">{{ user.following }}</p>
        </div>
        <div class="flex gap-1 text-gray-300">
          <p>Repositories :</p>
          <p class="font-semibold">{{ user.public_repos }}</p>
        </div>
      </div>
      <div class="mt-3 flex">
        <p class="text-gray-300">Twitter :</p>
        <p>
          <a
            [href]="'https://twitter.com/' + user.twitter_username"
            *ngIf="user.twitter_username"
            class="text-blue-400 hover:text-blue-600"
            >{{ user.twitter_username }}</a
          >
          <span *ngIf="!user.twitter_username" class="text-gray-500">N/A</span>
        </p>
      </div>
    </div>
  </div>
</div>
