<form
  [formGroup]="usernameForm"
  (ngSubmit)="onSubmit()"
  class="m-4 flex flex-col justify-center items-center gap-y-4 p-4 rounded-lg"
>
  <h1 class="text-2xl xs:text-xl">Search for any valid GitHub Username</h1>
  <div class="flex w-full gap-y-2 gap-x-4">
    <input
      type="text"
      id="username"
      placeholder="Username"
      class="w-full p-2 pl-5 rounded-xl outline outline-offset-0 outline-1 outline-neutral-600"
      formControlName="username"
      required
    />
    <button
      type="submit"
      [disabled]="!usernameForm.valid"
      class="primary p-2 rounded-lg text-sm font-semibold disabled:bg-white border-[1px] border-black"
    >
      Search
    </button>
  </div>
</form>
