<div
  class="bg-neutral-900 h-full flex flex-col justify-between rounded-lg shadow-md overflow-hidden"
>
  <div class="p-4">
    <div class="font-bold text-xl mb-2 text-neutral-100">{{ repo.name }}</div>
    <p class="text-neutral-400">{{ repo.description }}</p>
  </div>

  <div class="px-4 py-2 bg-neutral-800 flex items-center gap-2">
    <div class="flex gap-1">
      <span
        *ngFor="let language of repo.languages | keyvalue"
        class="inline-block selected text-white rounded-full px-3 py-1 text-sm font-semibold"
        >{{ language.key }}</span
      >
    </div>
    <span
      class="inline-block selected rounded-full text-white px-4 py-1 text-sm font-semibold"
      >Stars: {{ repo.stargazers_count }}</span
    >
    <a
      href="{{ repo.html_url }}"
      class="bg-black hover:selected text-white font-bold py-1 px-4 text-sm rounded-full inline-block"
      target="_blank"
      >View Repo</a
    >
  </div>
</div>
